.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.call-us,
.location,
.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
}
.call-us-title,
.location-title,
.mail-title {
  font-size: 1.333em;
  line-height: 1.2;
  color: #000000;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.call-us-number {
  color: #232323;
  font-size: 1.6em;
  line-height: 1.4166;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.location-address {
  font-size: 0.9333em;
  line-height: 2.1428;
  color: #666666;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.mail-address {
  font-size: 0.9333em;
  line-height: 1.4166;
  color: #be926f;
}
.call-us:hover .call-us-title,
.call-us:hover .call-us-number,
.location:hover .location-title,
.location:hover .location-address,
.mail:hover .mail-title {
  color: #be926f;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
/*@media*/

@media (max-width: 655px) {
  .call-us-number {
    font-size: 1em;
  }
}
@media (max-width: 595px) {
  .contact-link {
    width: 320px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .call-us,
  .location,
  .mail {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}
