.footer {
    border-top: 1px solid #e6e6e6;
}
.footer .container {
  display: flex;
  flex-basis: 33.3333%;
  justify-content: space-between;
  font-size: 0.8666em;
  line-height: 1.84;
  color: #999999;
  }
.conditions {
  display: flex;
}
.networks-link {
  display: flex;
}
.twitter {
  background: url("../image/icon-twitter.png") center center no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 25px;
}
.google {
  background: url("../image/icon-google.png") center center no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 25px;
}
.facebook {
  background: url("../image/icon-facebook.png") center center no-repeat;
  width: 19px;
  height: 19px;
}
