.footer {
    border-top: 1px solid #e6e6e6;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8666em;
  line-height: 1.84;
  color: #999999;
  transition: color 0.2s;
  }
.footer .container a:hover {
  color: #000000;
  transition: color 0.2s;
}
.conditions {
  display: flex;
  justify-content: center;
}
.conditions a {
  margin-right: 30px;
}
.networks-link{
  display: flex;
  justify-content: flex-end;
}
.networks-link a {
  margin-right: 25px;
}

/* @media */

@media (max-width: 780px) {
  .footer .container {
    width: 320px;
    justify-content: center;
  }
  .conditions a {
    margin-right: 15px;
  }
}
