.slider2 {
  margin: 60px auto 42px;
}
.slider2-body {
  display: flex;
  font-family: Montserrat, Arial, "Helvetika Neue", Helvetika, sans-serif;
  padding: 0;
  justify-content: space-between;
  overflow: hidden;
}
.new-post {
  flex-basis: 25%;
  flex-shrink: 0;
  margin: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.new-post a {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  transition: border-color 0.2s;
}
.new-post a:hover {
  border-bottom: 1px solid #be926f;
  transition: border-color 0.2s;
}
.slider2-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 30px 0;
}
.slider2-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #232323;
  letter-spacing: 4px;
}
.slider2-previous,
.slider2-next {
  display: flex;
  flex-shrink: 0;
  font-size: 0.8666em;
  color: #999999;
  line-height: 1.8461;
  font-weight: bold;
  vertical-align: middle;
  opacity: 1;
  transition: color 0.2s;
}
.previous-img-grey {
  display: inline-block;
  width: 13px;
  height: 23px;
  margin-right: 18px;
  background-image: url("../image/icon-prew-grey.png");
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.2s;
}
.previous-img-brown {
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 23px;
  background-image: url("../image/icon-prew-brown.png");
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s
}
.slider2-previous:hover,
.slider2-next:hover {
  color: #be926f;
 }
.slider2-previous:hover .previous-img-grey {
  opacity: 0;
}
.slider2-previous:hover .previous-img-brown {
  opacity: 0.7;
}
.next-img-grey {
  display: inline-block;
  width: 13px;
  height: 23px;
  margin-left: 18px;
  background-image: url("../image/icon-next-grey.png");
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.2s;
}
.next-img-brown {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 23px;
  background-image: url("../image/icon-next-brown.png");
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s
}
.slider2-next:hover .next-img-grey {
  opacity: 0;
}
.slider2-next:hover .next-img-brown {
  opacity: 0.7;
}
.new-post img {
  margin: 0 auto;
}
.new-post-category-care {
   font-size: 0.8em;
   line-height: 2em;
   margin: 15px auto;
   color: #7f9f5d;
 }
.new-post-category-furniture {
  font-size: 0.8em;
  line-height: 2em;
  margin: 15px auto;
  color: #538dc8;
}
.new-post-category {
  font-size: 0.8em;
  line-height: 2em;
  margin: 15px auto;
  color: #a677c7;
}
.new-post-category-beauty {
  font-size: 0.8em;
  line-height: 2em;
  margin: 15px auto;
  color: #cd7b87;
}
.new-post-name {
  font-size: 1.2em;
  line-height: 1.333;
  color: #000000;
}
.new-post-date {
  font-size: 0.9em;
  line-height: 1.7142;
  color: #999999;
  margin-top: 20px;
  margin-bottom: 15px;
  vertical-align: middle;
  position: relative;
}
.new-post-date:before {
  content: '';
  background-image: url("../image/icon-clock.png");
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}

/*@media */

@media (max-width: 1200px){
  .slider2-body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
}
@media (max-width: 990px){
  .slider2-body{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
}
@media (max-width: 620px){
  .slider2-body{
    display: block;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
